@import "palette";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  width: 100vw;
  padding: 10px;
  background: $--prussian-blue;
  z-index: 5;

  nav {
    display: flex;
    justify-content: space-between;
    font-size: small;

    li {
      display: inline;
      margin-right: 20px;
      list-style: none;
    }
    a {
      color: white;
    }
  }
}

main {
  padding-top: 20px;
}
.banner1 {
  height: auto;
  width: auto;
  padding: 30px 10px 10px;
  .titles1 {
    h1 {
      font-size: x-large;
    }
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 20px;
    padding: 20px;
  }
}
.banner2 {
  height: 100vh;
  width: 100vw;
  padding: 50px 20px 0px 20px;
  .titles2 {
    width: 100%;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
  }
}
.banner3 {
  .titles3 {
    width: 90vw;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid;
    border-radius: 10px;
  }
}
form {
  button {
    height: 30px;
  }
}

li {
  display: inline;
  margin-right: 20px;
  list-style: none;
}

input:hover,
textarea:hover {
  background: $--vanilla;
}

input,
textarea {
  padding: 10px;
}

.foot {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin-top: 5px;
  border: 1px solid rgba(128, 128, 128, 0.178);
  color: white;
  background: $--prussian-blue;
}

a:hover {
  color: $--vanilla;
  text-shadow: 0px 0px 5px $--prussian-blue;
}

button:hover {
  background: $--orange-wheel;
  color: $--vanilla;
}

@media (min-width: 900px) {
  body {
    font-family: sans-serif;
    overflow-x: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;
  }

  header {
    position: fixed;
    width: 100vw;
    padding: 10px;
    background: $--prussian-blue;
    color: white;
    z-index: 5;

    nav {
      font-size: large;
    }
  }

  .banner1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 10px $--prussian-blue;
    padding-top: 35px;
    height: 100vh;
    width: 100vw;
    color: white;
    background: $--xanthous;
    z-index: 1;

    .titles1 {
      h1 {
        padding-bottom: 20px;
        text-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5),
          1px -1px 10px rgba(0, 0, 0, 0.5), -1px 1px 0px $--prussian-blue,
          1px 1px 5px rgba(0, 0, 0, 0.5); /* Schatten in verschiedenen Richtungen */
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 40px;
      padding-left: 50px;
      height: 90vh;
      width: 70vw;
      border: 5px solid $--vanilla;
      border-radius: 50px;
      font-size: x-large;
      color: white;
      background: $--xanthous;
      z-index: 2;

      h3 {
        font-weight: 100;
        font-size: large;
      }
    }
  }

  .banner2 {
    justify-content: center;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 10px 10px -10px $--prussian-blue;
    display: flex;
    z-index: 2;

    .titles2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 90vh;
      width: 70vw;
      border-radius: 50px;
      border: 5px solid $--fire-engine-red;
      color: white;
      background: $--xanthous;
      padding-right: 40px;
      padding-left: 50px;
      z-index: 2;
    }
  }

  .banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 50px;
    height: 100vh;
    width: 100vw;

    color: white;
    background: $--xanthous;
    z-index: 1;
    .titles3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 90vh;
      width: 70vw;
      border-radius: 50px;
      border: 5px solid $--vanilla;
      color: white;
      background: $--xanthous;
      z-index: 2;
    }
    form {
      height: 80%;
      width: 60vw;
      display: grid;
      justify-content: space-evenly;
      align-self: center;
    }
  }

  h2 {
    margin-bottom: 10px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none; /* Entferne die standardmäßige Linie */
    height: 1px; /* Höhe der Linie */
    background: rgba(128, 128, 128, 0.205); /* Farbe der Linie */
  }

  .titles3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
  }

  .footer {
    padding: 10px;
    width: 100%;
    background: $--prussian-blue;
    color: white;
    text-align: center;
  }

  li {
    margin-bottom: 10px;
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
