/* SCSS HEX */
$night: #000f08ff;
$gunmetal: #1c3738ff;
$davys-gray: #4d4847ff;
$mint-cream: #f4fff8ff;
$cadet-gray: #8baaadff;

/* SCSS HSL */
$night: hsla(152, 100%, 3%, 1);
$gunmetal: hsla(182, 33%, 16%, 1);
$davys-gray: hsla(10, 4%, 29%, 1);
$mint-cream: hsla(142, 100%, 98%, 1);
$cadet-gray: hsla(185, 17%, 61%, 1);

/* SCSS RGB */
$night: rgba(0, 15, 8, 1);
$gunmetal: rgba(28, 55, 56, 1);
$davys-gray: rgba(77, 72, 71, 1);
$mint-cream: rgba(244, 255, 248, 1);
$cadet-gray: rgba(139, 170, 173, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-right: linear-gradient(
  90deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-bottom: linear-gradient(
  180deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-left: linear-gradient(
  270deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-top-right: linear-gradient(
  45deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-top-left: linear-gradient(
  225deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);
$gradient-radial: radial-gradient(
  #000f08ff,
  #1c3738ff,
  #4d4847ff,
  #f4fff8ff,
  #8baaadff
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-bottom: 25px;
    padding: 10px;
    background-color: $davys-gray;
    color: $mint-cream;
}

nav {
    display: flex;
    justify-content: flex-end;
}

li {
    display: inline;
    margin-right: 20px;
    list-style: none;
}
h1 {
    font-size: xx-large;
}

.banner1, .banner2{
    margin-bottom: 50px;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    height: 90vh;
    width: 70vw;
    border: 5px solid $mint-cream;
    border-radius: 50px;
    color: $mint-cream;
    background-color: $cadet-gray;
}

.banner2 {
    border: 5px solid $cadet-gray;
    color: $cadet-gray;
    background-color: $mint-cream;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

